/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2016, 09:52:01 AM
    Author     : cristian.murillo
*/

#map-container{
    position: absolute;
    left:250px;
    right:0px;
    top:50px;
    /*/height:94%;*/
    bottom: 20px;
    /*border-bottom: 0px solid #e7e7e7;*/
    border-left: 1px solid #e7e7e7;
    background-color: #fff;
}

.map {
  height: 100%;
  width: 100%;
  /*background: url(map-background.jpg) repeat;*/
  margin-bottom: 0px;
}

#footer{
    background-image: linear-gradient(to bottom,#41ae76 0,#238b45 80%);
    position: absolute;
    bottom: 0px;
    left:251px;
    right: 0px;
    height:20px;
}

